*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

background:#fff8fa;

font-family:Poppins, sans-serif;

padding:20px;

}



header{

text-align:center;

}


header img{

width:110px;

}


header h1{

font-size:42px;

color:#d35d78;

font-family:serif;

}


header p{

color:#b08a5a;

font-size:22px;

margin-bottom:25px;

}




.categories{

display:flex;

gap:10px;

overflow-x:auto;

padding-bottom:25px;

}



.categories button{


border:none;

background:white;

padding:12px 20px;

border-radius:30px;

color:#b45b73;

box-shadow:0 5px 15px #0001;

white-space:nowrap;


}




.gallery{


display:grid;

grid-template-columns:repeat(2,1fr);

gap:15px;


}



.item{


border-radius:20px;

overflow:hidden;


}



.item img{


width:100%;

height:220px;

object-fit:cover;


transition:.4s;


}



.item img:hover{

transform:scale(1.08);

}



@media(min-width:700px){

.gallery{

grid-template-columns:repeat(4,1fr);

}

}

.popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.85);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:999;
}


.popup img{
    max-width:90%;
    max-height:85%;
    border-radius:20px;
}


.popup.active{
    display:flex;
}

.booking{

position:fixed;

bottom:20px;

left:50%;

transform:translateX(-50%);

width:90%;
max-width:350px;

background:#d45b72;

color:white;

padding:15px;

border-radius:30px;

text-align:center;

text-decoration:none;

z-index:1000;

}

.item{

background:white;

border-radius:20px;

overflow:hidden;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}


.item h3{

text-align:center;

padding:12px;

font-size:17px;

color:#b45b73;

font-family:serif;

}



.item img{

display:block;

width:100%;

height:220px;

object-fit:cover;

}