*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    background:#fff8fa;

    font-family:'Poppins', sans-serif;

    padding:20px;

}


/* HEADER */

header{

    text-align:center;

}


header img{

    width:110px;

}


header h1{

    font-size:42px;

    color:#d35d78;

    font-family:serif;

}


header p{

    color:#b08a5a;

    font-size:22px;

    margin-bottom:25px;

}



/* CATEGORY BUTTONS */

.categories{

display:flex;

gap:12px;

overflow-x:auto;

padding:10px 0 30px;

scrollbar-width:none;

}


.categories::-webkit-scrollbar{

    display:none;

}



.categories button{

border:none;

padding:12px 22px;

border-radius:50px;

background:rgba(255,255,255,.65);

backdrop-filter:blur(15px);

-webkit-backdrop-filter:blur(15px);

color:#b45b73;

font-size:15px;

font-weight:500;

white-space:nowrap;

box-shadow:

0 8px 25px rgba(0,0,0,.08);

border:1px solid rgba(255,255,255,.8);

transition:.35s;

}


.categories button:hover,
.categories button.active{

background:#d35d78;

color:white;

transform:translateY(-3px);

}


/* GALLERY */

.gallery{
    display:grid;
    grid-template-columns:repeat(2,minmax(0,1fr));
    gap:18px;
}



@media(max-width:500px){

.item img{

height:220px;

}


.gallery{

gap:12px;

}

}


.item{

background:white;

border-radius:28px;

overflow:hidden;

box-shadow:
0 15px 40px rgba(0,0,0,.08);

transition:.4s;

animation:fadeUp .7s ease both;

}
.item:hover{

transform:translateY(-8px);

box-shadow:

0 25px 50px rgba(0,0,0,.15);

}


.item img{

width:100%;

height:260px;

object-fit:cover;

transition:.5s;

}


.item:hover img{

transform:scale(1.05);

}


.item h3{

padding:18px;

text-align:center;

font-size:18px;

color:#a96b52;

font-family:serif;

}


/* Kak Iphone */





@keyframes fadeUp{

from{

opacity:0;

transform:translateY(40px);

}


to{

opacity:1;

transform:translateY(0);

}

}






/* TABLET / PC */

@media(min-width:700px){


    .gallery{

        grid-template-columns:repeat(4,minmax(0,1fr));

    }


}



/* SMALL PHONES */

@media(max-width:380px){


    body{

        padding:12px;

    }


    .item img{

        height:180px;

    }


    header h1{

        font-size:36px;

    }


}


.whatsapp{

position:fixed;

bottom:30px;

right:25px;

width:65px;

height:65px;

border-radius:50%;

background:#25D366;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:35px;

text-decoration:none;

box-shadow:0 10px 30px rgba(0,0,0,.25);

z-index:999;

animation:pulse 2s infinite;

transition:.3s;

}


.whatsapp:hover{

transform:scale(1.1);

}



@keyframes pulse{

0%{

box-shadow:0 0 0 0 rgba(37,211,102,.6);

}


70%{

box-shadow:0 0 0 18px rgba(37,211,102,0);

}


100%{

box-shadow:0 0 0 0 rgba(37,211,102,0);

}

}


/* Скрыть стрелки Fancybox */
.fancybox__nav{
    display:none !important;
}

.f-button.is-prev,
.f-button.is-next{
    display:none !important;
}